# Title of syzkaller bug
# https://syzkaller.appspot.com/bug?id=
# Reported-by: syzbot+xxxxxxxxxxxxxxxxxxxx@syzkaller.appspotmail.com

KCONFIG_HASH=""
REPRODUCER_HASH=""

HOST_PORT_SSH=10022

# FILTER SETTINGS
PATTERNS_START_REPORT=("BUG" "KASAN" "UBSAN" "WARNING" "cut here")
PATTERNS_OMIT_LINE=("Creating new" "filter on device" "entered blocking state" "entered forwarding state" \
			"link becomes ready")

